<!-- device-list.component.html -->
<div>
  <h1>Lista de Dispositivos</h1>
  <a routerLink="/devices/new">Novo Dispositivo</a>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Categoria</th>
        <th>Cor</th>
        <th>Número da Peça</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let device of devices">
        <td>{{ device.id }}</td>
        <td>{{ device.categoryName }}</td>
        <td>{{ device.color }}</td>
        <td>{{ device.partNumber }}</td>
        <td>
          <a [routerLink]="['/devices/edit', device.id]">Editar</a>
          <button (click)="delete(device.id)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
